.container {
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: max(16px, env(safe-area-inset-left));
  padding-right: max(16px, env(safe-area-inset-right));
  padding: 0 16px;
  @media (min-width: 768px) {
    padding-left: max(22px, env(safe-area-inset-left));
    padding-right: max(22px, env(safe-area-inset-right));
    padding: 0 22px;
  }
}
.container_toEdgeOnMobile {
  @media (max-width: 768px) {
    padding-left: max(0px, env(safe-area-inset-left)) !important;
    padding-right: max(0px, env(safe-area-inset-right)) !important;
    padding: 0 0px !important;
  }
}
