.footer {
  height: var(--footer-height);
  padding-top: 12px;
  color: var(--contrast-color);
  z-index: 9;
  a,
  li {
    color: var(--contrast-color);
    z-index: 99;
  }
}
.footer_withFullScreenHero {
  margin-top: calc(var(--footer-height) * -1);
  color: var(--base-color);
  a,
  li {
    color: var(--base-color) !important;
  }
}
