.mobileNavHeader {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  left: 0;
  height: 48px;
  z-index: 9999;
  @media (min-width: 768px) {
    display: none;
  }
}
.mobileNavHeader__Inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: max(22px, env(safe-area-inset-left));
  padding-right: max(22px, env(safe-area-inset-right));
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.mobileNav__brandLink {
  display: flex;
  align-items: center;
  height: 48px;
  svg {
    height: 12px;
  }
}

// BUTTON
.mobileNavButton__container {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.mobileNavButton__line {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
}
.mobileNavButton__line__inner {
  display: block;
  width: 17px;
  height: 1px;
  background: var(--contrast-color);
  border-radius: 0.5px;
  position: absolute;
  left: 7px;
  z-index: 1;
}
.mobileNavButton__line_top {
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96),
    -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  transform: none;
  z-index: 4;
  .mn_isOpen & {
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96)
        0.1008s,
      -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: rotate(45deg);
  }
}
.mobileNavButton__line_top__inner {
  top: 14px;
  transform: translateY(-3px) scaleX(0.88235);
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84)
      0.1008s,
    -webkit-transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
  .mn_isOpen & {
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transform: none;
  }
}
.mobileNavButton__line_bottom {
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96),
    -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  transform: none;
  .mn_isOpen & {
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96)
        0.1008s,
      -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: rotate(-45deg);
  }
}
.mobileNavButton__line_bottom__inner {
  bottom: 14px;
  transform: translateY(3px) scaleX(0.88235);
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84)
      0.1008s,
    -webkit-transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
  .mn_isOpen & {
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transform: none;
  }
}

.mobileNav__menuContainer {
  background-color: #fff;
  position: fixed;
  top: 48px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9999;
  visibility: hidden;
  transition: height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  max-height: none;
  height: 0px;
  &.mn_isOpen {
    height: calc(100vh - 48px);
    visibility: visible;
  }
}
.mobileNav__listItem {
}
.mobileNav__listItem__link {
  color: var(--contrast-color);
  padding: 8px 0px;
  &:hover {
    text-decoration: none;
  }
  display: flex;
  align-items: center;
}

// CART
.mobileNavCart__container {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 48px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.mobileNavCart__icon {
}
.mobileNavCart__number {
  font-size: 9px;
  position: absolute;
  top: 20px;
  left: 22px;
}
.mobileNavCart__indicator {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: var(--danger-color);
}
