.mobileNavHeader {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  left: 0;
  height: var(--gn-height);
  z-index: 999999;
  @media (min-width: 768px) {
    display: none;
  }
}
.mobileNavHeader__Inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: max(16px, env(safe-area-inset-left));
  padding-right: max(16px, env(safe-area-inset-right));
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--gn-height);
}

// BRAND
.mobileNav__brandLink {
  display: flex;
  align-items: center;
  height: var(--gn-height);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  svg {
    height: 12px;
  }
}

// BURGER BUTTON
.mobileNavButton__container {
  height: var(--gn-height);
  width: var(--gn-height);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.mobileNavButton__line {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
}
.mobileNavButton__line__inner {
  display: block;
  width: 17px;
  height: 1px;
  background: var(--contrast-color);
  border-radius: 0.5px;
  position: absolute;
  left: 7px;
  z-index: 1;
}
.mobileNavButton__line_top {
  transform: none;
  z-index: 4;
  .mn_isOpen & {
    transform: rotate(45deg);
  }
}
.mobileNavButton__line_top__inner {
  top: 14px;
  transform: translateY(-3px) scaleX(0.88235);

  .mn_isOpen & {
    transform: none;
  }
}
.mobileNavButton__line_bottom {
  transform: none;
  .mn_isOpen & {
    transform: rotate(-45deg);
  }
}
.mobileNavButton__line_bottom__inner {
  bottom: 14px;
  transform: translateY(3px) scaleX(0.88235);

  .mn_isOpen & {
    transform: none;
  }
}

// MENU
.mobileNav__menuContainer {
  background-color: #fff;
  position: fixed;
  top: var(--gn-height);
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9999;
  visibility: hidden;
  max-height: none;
  height: 0px;
  &.mn_isOpen {
    height: calc(100vh - var(--gn-height));
    visibility: visible;
  }
}
.mobileNav__list {
  margin: 0 16px;
  opacity: 0;

  .mn_isOpen & {
    opacity: 1;
    transition: none;
  }
}
.mobileNav__listItem {
}
.mobileNav__listItem__link {
  color: var(--contrast-color);
  padding: 8px 0px;
  &:hover {
    text-decoration: none;
  }
  display: flex;
  align-items: center;
}

// CART
.mobileNavCart__container {
  height: var(--gn-height);
  width: var(--gn-height);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: var(--contrast-color);
  text-decoration: none;
}
.mobileNav {
  margin-top: 40px;
}
.mobileNavCart__icon {
}
.mobileNavCart__number {
  font-size: 8px;
  position: absolute;
  top: 21px;
  left: 22px;
}
.mobileNavCart__indicator {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: var(--danger-color);
}

// TRANSPARENT STYLES FOR HOME PAGE HERO
.mobileNavHeader_transparent {
  background: none;
  .mobileNavCart__container,
  .mobileNav__brandLink path {
    color: var(--base-color);
  }
  .mobileNav__brandLink path {
    fill: var(--base-color) !important;
  }
  .mobileNavButton__line__inner {
    background: var(--base-color);
  }
  &.mn_isOpen {
    background: var(--base-color);
    .mobileNavCart__container,
    .mobileNav__brandLink path {
      color: var(--contrast-color);
    }
    .mobileNav__brandLink path {
      fill: var(--contrast-color) !important;
    }
    .mobileNavButton__line__inner {
      background: var(--contrast-color);
    }
  }
}
